/CrispyEureka.Application/bin/
/CrispyEureka.Application/obj/
/CrispyEureka.Domain/bin/
/CrispyEureka.Domain/obj/
/CrispyEureka.MarketDataConnector/bin/
/CrispyEureka.MarketDataConnector/obj/
/CrispyEureka.Persistence/bin/
/CrispyEureka.Persistence/obj/
/CrispyEureka.Testing.Domain/bin/
/CrispyEureka.Testing.Domain/obj/
